<f:comment>
  Landingpage Template
</f:comment>

<div id="wrapper">
<div class="w1">
  <div class="header">
    <strong class="logo"><a href="./">PRAXIS DR. MED. NATALIA BRENNER</a></strong>
    <div class="nav-holder">
      <f:cObject typoscriptObjectPath="lib.langNavi" />
      <f:cObject typoscriptObjectPath="lib.mainNavi" />
    </div>
  </div>
  <f:cObject typoscriptObjectPath="lib.field_hero" />
  <div class="twocolumns">
    <div class="aside pull-right">
    	<f:cObject typoscriptObjectPath="lib.field_rightCol" />
    </div>
    <div class="content">
    	<f:cObject typoscriptObjectPath="lib.field_leftCol" />
    </div>
  </div>
</div>
</div>
<div class="footer">
<div class="pull-right">
  <p><f:cObject typoscriptObjectPath="lib.copyright" /></p>
</div>
<div class="pull-left">
  <address>
    Koblenzer Str. 65<br>
    53177, Bonn Bad-Godesberg
  </address>
</div>
<dl>
  <dt>TEL:</dt>
  <dd>+49(0) 228 446 78 23</dd>
  <dt>FAX:</dt>
  <dd>+49(0) 228 446 78 20</dd>
  <dt>E-Mail:</dt>
  <dd><a href="mailto:info@brennerpraxis.de">info@brennerpraxis.de</a></dd>
</dl>
</div>
