<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
  <link media="all" rel="stylesheet" type="text/css" href="css/all.css" />
  <link media="all" rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.3.custom.css" />
  <script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="js/jquery.carousel.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>
</head>
<body>
  <div id="wrapper">
    <div class="w1">
      <div class="header">
        <strong class="logo"><a href="#">PRAXIS DR. MED. NATALIA BRENNER</a></strong>
        <div class="nav-holder">
          <ul class="lang pull-right">
            <li><a href="#">EN</a>
              <ul class="drop">
                <li><a href="#">GR</a></li>
                <li><a href="#">UK</a></li>
                <li><a href="#">PS</a></li>
                <li><a href="#">GE</a></li>
                <li><a href="#">FR</a></li>
                <li><a href="#">DE</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li><a href="#">Clinic</a>
              <ul class="drop">
                <li><a href="#">Philosophie</a></li>
                <li><a href="#">Bildergalerie</a></li>
                <li><a href="#">Somepage</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">someimportantpage</a></li>
              </ul>
            </li>
            <li><a href="#">Services</a>
              <ul class="drop">
                <li><a href="#">Philosophie</a></li>
                <li><a href="#">Bildergalerie</a></li>
                <li><a href="#">Somepage</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">someimportantpage</a></li>
              </ul>
            </li>
            <li><a href="#">News &amp; DOwnloads</a>
              <ul class="drop">
                <li><a href="#">Philosophie</a></li>
                <li><a href="#">Bildergalerie</a></li>
                <li><a href="#">Somepage</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">someimportantpage</a></li>
              </ul>
            </li>
            <li><a href="#">contact</a>
              <ul class="drop">
                <li><a href="#">Philosophie</a></li>
                <li><a href="#">Bildergalerie</a></li>
                <li><a href="#">Somepage</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">someimportantpage</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <img clas="visual" src="images/visual.jpg" alt="" width="981" height="250" />
      <div class="twocolumns">
        <div class="aside pull-right">
          <div class="box">
            <address>
              Am Kurpark 2, 53177 Bonn-Bad Godesberg
            </address>
            <dl>
              <dt>TEL:</dt>
              <dd>+49(0) 228 446 78 23</dd>
              <dt>FAX:</dt>
              <dd>+49(0) 228 446 78 20</dd>
              <dt>E-mail:</dt>
              <dd><a href="mailto:info@brennerpraxis.de">info@brennerpraxis.de</a></dd>
            </dl>
          </div>
          <div class="box">
            <p>Make an appointment to see a doctor:</p>
            <a class="link-type-1" href="#">Jetzt Termin vereinbaren</a>
          </div>
        </div>
        <div class="content">
          <h2>A few words about clinic</h2>
          <p>Chocolate cake donut tiramisu marzipan chocolate bar bonbon cake. Fruitcake fruitcake brownie chocolate cake topping tart halvah ice cream. Icing muffin tiramisu jujubes wafer cheesecake tootsie roll. Dessert dragée lemon drops chupa chups carrot cake tiramisu. </p>
        </div>
        <div class="gallery-news">
          <div class="frame">
            <ul>
              <li>
                <em class="date">13 APR 2013</em>
                <h2><a href="#">Lorem ipsum dolor sit a et, consectetuer adipisci</a> </h2>
                <p>Chocolate cake donut tiramisu arzipan chocolate bar bonbon ke. Fruitcake fruitcake brownie ocolate cake topping...</p>
              </li>
              <li>
                <em class="date">13 APR 2013</em>
                <h2><a href="#">Lorem ipsum dolor sit a et, consectetuer adipisci</a> </h2>
                <p>Chocolate cake donut tiramisu arzipan chocolate bar bonbon ke. Fruitcake fruitcake brownie ocolate cake topping...</p>
              </li>
              <li>
                <em class="date">13 APR 2013</em>
                <h2><a href="#">Lorem ipsum dolor sit a et, consectetuer adipisci</a> </h2>
                <p>Chocolate cake donut tiramisu arzipan chocolate bar bonbon ke. Fruitcake fruitcake brownie ocolate cake topping...</p>
              </li>
              <li>
                <em class="date">13 APR 2013</em>
                <h2><a href="#">Lorem ipsum dolor sit a et, consectetuer adipisci</a> </h2>
                <p>Chocolate cake donut tiramisu arzipan chocolate bar bonbon ke. Fruitcake fruitcake brownie ocolate cake topping...</p>
              </li>
            </ul>
          </div>
          <a href="#" class="prev">prev</a>
          <a href="#" class="next">next</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Copyright © 2013 Mediasapiens</p>
    <p>All rights reserved</p>
  </div>
</body>
</html>
